* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 500px) {
    .site {
      max-width: 500px;
      background-color: #22262A;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 180px 1fr 1fr;
      grid-template-areas:
      "header"
      "main"
      "footer";
    }

    .site-title {
      font-size: 26pt;
      font-weight: 700;
      text-align: center;
    }

    .site-description {
      font-style: italic;
      font-size: 10pt;
      font-weight: 100;
      padding-bottom: 10px;
    }

    .header {
      font-family: "Roboto Mono", monospace;
      grid-area: header;
      background-color: #22262A;
      color: white;
      padding: 30px;
    }

    .main {
      grid-area: main;
      padding: 0px;

    }
    .footer {
      grid-area: footer;
      padding: 0px;
    }

    .nav-bar>ul {
      list-style-type: none;
    }

    .nav-bar li {
      font-size: 14px;
      display: inline;
    }

    .main {
      font-family: 'Rubik', sans-serif;
      grid-area: main;
      background-color: white;
      color: #22262A;
    }
}

@media screen and (min-width:500px) {
  .site {
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-template-rows: minmax(100vh,auto) auto;
    grid-template-areas:
    "header main"
    "header footer";
  }

  .header {
    font-family: "Roboto Mono", monospace;
    position: fixed;
    grid-area: header;
    width: 320px;
    height: 100vh;
    background-color: #22262A;
    color: white;
  }

  .site-branding{
    padding-left: 40px;
    padding-right: 40px;
  }

  .site-title {
    padding-top: 100px;
    font-size: 28pt;
    font-weight: 700;
    text-align: center;
  }

  .site-description {
    font-style: italic;
    font-size: 13pt;
    font-weight: 100;
    padding: 20px;
  }

  .nav-bar {
    padding: 40px;
  }

  .nav-bar>ul {
    list-style-type: none;
  }

  .nav-bar li {
    font-size: 14pt;
    font-weight: 300;
    padding: 8px;
  }

  .main {
    font-family: 'Rubik', sans-serif;
    grid-area: main;
    background-color: white;
    color: #22262A;
    padding: 80px;
  }
}



.header a {
  text-decoration: none;
  color: white;
}

.main a {
  text-decoration: none;
  color: #22262A;
}

.main a:visited {
  color: #22262A;
}

.footer {
  font-family: "Roboto Mono", monospace;
  grid-area: footer;
  background-color: #22262A;
  color: white;
}

.footer>p {
  text-align: right;
  padding: 30px;
  padding-right: 60px;
  font-weight: 300;
}

/* # markdown format */
.post-header {
  padding-bottom: 30px;
}

.post-category {
  font-family: "Roboto Mono", monospace;
  height: 30px;
  text-transform: uppercase;
}

.main h1 {
  font-size: 48pt;
  font-weight: 400;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.post-info {
  font-family: "Roboto Mono", monospace;
  padding-bottom: 10px;
}

.main h2 {
  font-size: 36pt;
  padding-bottom: 10px;
}

.main h3 {
  font-size: 22pt;
  padding-bottom: 10px;
}

.main p {
  font-size: 15pt;
  font-weight: 300;
  line-height: 1.5;
  padding-bottom: 10px;
}

.main ul {
  list-style-position: inside;
  padding-left: 20px;
  padding-bottom: 10px;
}

.main li {
  font-size: 16pt;
}

pre.highlight {
  font-size: 10pt;
  font-family: 'Source Code Pro', monospace;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

time {
  font-weight: 700;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
}
