---
layout: default
comments: true
# other options
---

<div class="post">
  <div class="post-header">
    <div class="post-category">{{ page.categories }}</div>
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-info">
      <span>Written on</span>
        <time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
      <span>| Tags:</span>
      {% for tag in page.tags %}
        <span class=post-tag>{{tag}}</span>
      {% endfor %}
    </div>
    <hr>
  </div>
  {{ content }}
</div>
